<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Recipe</h1>

    <form enctype="multipart/form-data" method="post" action="{% url 'create_recipe' %}">
        {% for field in recipeForm.visible_fields %}
        <p>{{field.label_tag}}</p>
        <label>{{field}}</label>
        {% for error in field.errors %}
        <span style="color:red"> {{ error }} </span>
        {% endfor %}
        <br>
        {% endfor %}
        {% for field in recipeForm.hidden_fields %}
        {{field}}
        {% endfor %}
        <h1>ingredients:</h1>
        <input name="ingname" type="text" placeholder="ingname1" />
        <input name="quantity" type="text" placeholder="quantity1" />
        <input name="ingname" type="text" placeholder="ingname2" />
        <input name="quantity" type="text" placeholder="quantity2" />
        <p id="ingre"></p>
        <input type="submit" value="GO">
        <input type="button" onclick="add()" value="Add"/>
        <h1>steps</h1>
        <!--{% for stepfield in stepForm.visible_fields %}
        <p>{{stepfield.label_tag}}</p>
        <label>{{stepfield}}</label>
        {% for error in field.errors %}
        <span style="color:red"> {{ error }} </span>
        {% endfor %}
        <br>
        {% endfor %}
        {% for field in stepForm.hidden_fields %}
        {{stepfield}}
        {% endfor %}-->

        <!--{{ stepForm.management_form }}
        {% for form in stepForm %}
        {% for field in form %}
        {{ field.label_tag }} {{ field }}
        {% endfor %}
        {% endfor %}-->

        {{ stepForm.management_form }}
        {% for form in stepForm.forms %}
        <div class='table'>
            <table class='no_error'>
                {{ form.as_table }}
            </table>
        </div>
        {% endfor %}

        <input type="button" value="" id="add_more"/>
        {% csrf_token %}

    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        function add() {
            var txt1 = "<input name='ingname' type='text' placeholder='ingname'/>\
<input name='quantity' type='text' placeholder='quantity' />";
            $('#ingre').append(txt1);
        }

    $('#add_more').click(function () {
    cloneMore('div.table:last', 'stepForm');
    });
    function cloneMore(selector, type) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + type + '-TOTAL_FORMS').val();
        newElement.find(':input').each(function () {
            var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({ 'name': name, 'id': id }).val('').removeAttr('checked');
        });
        newElement.find('label').each(function () {
            var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('#id_' + type + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    }
    
    </script>

</body>
</html>
