body {
  margin: 0;
  background: #F8F8F8; }

.btn, .delWorkBtn, .likeBtn {
  margin: 5px;
  cursor: pointer;
  background-color: white;
  border: none;
  color: lightsteelblue; }
  .btn:focus, .delWorkBtn:focus, .likeBtn:focus {
    outline: none; }

.workUserBox {
  width: 94%;
  height: 45px;
  padding: 3%; }
  .workUserBox img {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin: 5px; }
  .workUserBox a {
    float: left;
    line-height: 35px;
    margin: 5px 0px;
    text-decoration: none;
    color: #016268;
    font-size: 20px; }
    .workUserBox a:hover {
      color: #09BBBB; }
    .workUserBox a:visited {
      color: #016268; }

.delWorkBtn {
  float: right; }
  .delWorkBtn::before {
    content: "x";
    font-size: 15px; }

.bio {
  margin: 0 6%; }

.workBox {
  width: 280px;
  height: 100%;
  margin: 10px;
  background-color: white; }
  .workBox .workImg {
    float: left;
    width: 90%;
    height: 100%;
    border-radius: 6px;
    margin: 5%;
    display: block;
    top: 0; }

.likeBtn {
  width: 30px;
  padding: 0; }
  .likeBtn:hover {
    color: #EC115E; }

.commentForm {
  border-bottom: 1px solid lightgrey; }
  .commentForm textarea {
    width: 83%;
    height: 20px;
    border-radius: 3px;
    border-color: #f44336;
    float: left; }
  .commentForm input {
    width: 10%;
    height: 26px;
    padding: 3px;
    background-color: #F44336;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 0% 2%;
    cursor: pointer;
    font-size: 17px; }

.commentItem p {
  margin: 10px 0px;
  width: 85%;
  line-height: 22px;
  font-size: 16px; }
  .commentItem p a {
    text-decoration: none;
    color: #016268;
    font-weight: 600; }
    .commentItem p a:hover {
      color: #09BBBB; }
    .commentItem p a:visited {
      color: #016268; }

#workform {
  width: 280px;
  height: 130px;
  margin: 10px;
  background: white;
  box-shadow: #EEEEEE 6px 6px; }
  #workform textarea {
    width: 85%;
    margin: 4%;
    height: 45px;
    border-radius: 3px;
    border: 0;
    padding: 3%;
    background: whitesmoke; }
  #workform #submit-work {
    height: 26px;
    padding: 0 15px;
    background-color: #F44336;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 0 5% 0 0;
    cursor: pointer;
    font-size: 12px;
    float: right; }
  #workform input[type="file"] {
    width: 70%; }

.verticalCenter, .navBox .navbar .logo, .navBox .navbar .search, .navBox .navbar .navProfile {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.content {
  width: 1060px;
  margin-left: auto;
  margin-right: auto; }

.navBox {
  background: white;
  width: 100%; }
  .navBox .navbar {
    height: 50px;
    margin-bottom: 10px; }
    .navBox .navbar .logo {
      float: left; }
    .navBox .navbar .search {
      width: 70%;
      float: left; }
      .navBox .navbar .search input[type=text] {
        width: 130px;
        height: 20px;
        font-size: 20px;
        padding: 5px;
        border-radius: 20px;
        border: 1px solid lightgrey;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out; }
        .navBox .navbar .search input[type=text]:focus {
          width: 100%;
          outline: none; }
    .navBox .navbar .navProfile {
      float: right; }
      .navBox .navbar .navProfile img {
        border-radius: 35px;
        width: 35px;
        height: 100%; }
