<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Recipe</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link type="text/css" href="/static/recipe/css/work.css" rel="stylesheet" >

  </head>
  <body>
    <div class="navbar">
      <div class="logo">Logo</div>
      <div class="search"></div>
      {% if user %}
      <div class="navProfile">
        <span>{{user.username}}</span>
        <img src="{% url 'user_img' user %}"/>
      </div>
      {% else %}
      <p><a href="{% url 'login' %}">Login</a></p>
      <p><a href="{% url 'register' %}">Register</a></p>
      {% endif %}
    </div>


    <div id="recipeArea"></div>
    <div id="workArea"></div>
    
    <script src="/static/recipe/js/recipeStreamComponent.js" type="text/babel"></script>
    <script src="/static/recipe/js/workComponent.js" type="text/babel"></script>
    
  </body>
</html>