<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React Tutorial</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

  </head>
  <body>
    <p><a href="{% url 'login' %}">Login</a></p>
    <p><a href="{% url 'register' %}">Register</a></p>

    <div id="formdiv">
      <!-- id is used for ajax -->
      <form enctype="multipart/form-data" action={% url 'add_work' %} method="post" id="workform">
        <table>
        {{ work_form }}
        </table>
        {% csrf_token %}
        <input id="submit-work" type="submit" value="Share" />
      </form>
    </div>

    {% if user %}
      <div id="works-list">
        {% for work in user_works %}
          <p> {{work.user.username}} : {{work.bio}}  </p>
          <img src="{% url 'work_img' work.id %}"/>
        {% endfor %}
      </div>
    {% endif %}





    <div id="content"></div>
    <!-- <script type="text/babel" src="/static/recipe/js/example.js"></script> -->
    <script type="text/babel">

      var data = [
        {id: 1, author: "Pete Hunt", text: "This is one comment"},
        {id: 2, author: "Jordan Walke", text: "This is *another* comment"}
      ];

      var CommentBox = React.createClass({
        render: function() {
          return (
            <div className="commentBox">
              <h1>Comments</h1>
              <CommentList data={this.props.data}/>
              <CommentForm />
            </div>
          );
        }
      });

      var CommentList = React.createClass({
        render: function() {
          var commentNodes = this.props.data.map(function(comment) {
            return (
              <Comment author={comment.author} key={comment.id}>
                {comment.text}
              </Comment>
            );
          });
          return (
            <div className="commentList">
              <Comment author="Pete Hunt">This is one comment</Comment>
              <Comment author="Jordan Walke">This is *another* comment</Comment>
            </div>
          );
        }
      });

      var CommentForm = React.createClass({
        render: function() {
          return (
            <div className="commentForm">
              Hello, world! I am a CommentForm.
            </div>
          );
        }
      });

      var Comment = React.createClass({

        rawMarkup: function() {
          var rawMarkup = marked(this.props.children.toString(), {sanitize: true});
          return { __html: rawMarkup };
        },
        render: function() {
          return (
            <div className="comment">
              <h2 className="commentAuthor">
                {this.props.author}
              </h2>
              <span dangerouslySetInnerHTML={this.rawMarkup()} />
            </div>
          );
        }
      });

      ReactDOM.render(
        <CommentBox data={data}/>,
        document.getElementById('content')
      );
    </script>
    <script src="/static/recipe/js/works.js" type="text/javascript"></script>
  </body>
</html>